<%- include('../partials/base-begin'); %>
<%- include('../partials/nav'); %>

<section class="hero is-fullheight-with-navbar has-text-centered">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Not authorized
      </p>
    </div>
  </div>
</section>
ß
<%- include('../partials/footer'); %>
<%- include('../partials/base-end'); %>