<% if(global.flash.warn){ %>
<div class="notification is-warning">
  <%=global.flash.warn  %>
</div>
<% } %>

<% if(global.flash.info){ %>
<div class="notification is-info">
  <%=global.flash.info  %>
</div>
<% } %>